
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    gap:1rem
}

.gallery>h1{
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
}

.gallery-container{
    /* flex: 1 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-auto-rows:300px;
    padding: 0 1rem;
    max-height: 700px; */

    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: max-content;
}

.gallery-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* .gallery-container> div:nth-child(1){
    margin-top: 9rem;
}
.gallery-container> div:nth-child(2){
    margin-top: 6rem;
}

.gallery-container> div:nth-child(3){  
    margin-top: 4rem;
}
.gallery-container> div:nth-child(4){
    margin-top: 1rem;
} */

.gallery-col>img{
    border-radius: 25px;
    width: 20rem;
    height: 20rem;
}
